.App {
  text-align: center;
}

table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
 }
 table{
  display: in;
  margin: auto;
  width: 600px;
 }
 button{
  cursor: pointer;
  width:80px;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: green;
  color: white;
  border: 1px solid white;
 }

 button:hover{
  border: 1px salmon;
  box-shadow: 0 0 150px;
  background-color: rgb(95, 214, 95);
 }
 input{
  border-radius: 5px;
  width: 350px;
  /* height: 30px; */
  padding: 10px;
  border: 1px solid black;
 }
